.con-tain{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  background-image: url(../Assets/background.svg);
  background-size: cover;

}

.user-det{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-container img{
  height: 60px;
}

.userName{
  font-size: 24px;
  font-weight: 500;
}

.Amounts{
  margin-top:50px;
}

.Amounts h1{
  font-size: 48px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bolder ;
}

.p-card{
  background-color: #202020;
  border:1px solid black;
  width: 50%;
  padding:20px 20px;
  color: white;
  border-radius: 15px;
  position: relative;
}

.over-group{
  position: relative;
  z-index: 100000;
}

.design-vector{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -0.5;
  height:180px;
}

.account-type{
  color:#919191 ;
}

.crd-d{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.account-balance{
  font-size: 36px;
  margin: 5px 0px;
  z-index: 100000;
}

.chg-bt{
  font-family: "DM sans", sans-serif;
  padding:7px 10px;
  background-color: white;
  border-radius: 15px;
  border: none;
}

.back-button{
  margin: 30px 0px;
  padding: 15px 100px;
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  transition: 1s;

}

.btn-disable{
  margin: 30px 0px;
  padding: 15px 100px;
  background-color: grey;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  transition: 1s;
}


@media screen and (max-width:425px) {
  .p-card{
    width: 80%;
    overflow-x: hidden;
    
  }

  .design-vector{
    height: 170px;
  }

  .account-balance{
    font-size: 26px;
    margin: 5px 0px;
    z-index: 100000;
  }

  
}