.savings-account{
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  margin: 10px 10px;

}

.savings-card {
  background-image: url(../Assets/vectordesign.svg);
  background-size: cover;
  height: 180px;
  width: auto;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  padding:10px 20px;
}

.acct-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.act-ty{
  color: white;
}

.card-bt{
 margin: 10px 0px;
}

.bal-txt{
  color: #919191;
  margin: 10px 0px;
}

.bal-ce{
  color: white;
  font-size: 42px;
  margin: 0px;
}


.account-details{
  margin: 20px 0px;
  padding: 0px 10px;
}

.details-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  background-color: #272727;
}
.copy-button img{
  margin-right:5px;
}

.cpy-txt{
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
  font-size: 11px;

}
.div-4{
  margin: 10px 0px;
}
.text-bold, .p{
  font-weight: 500;
  color: #2C2C2C;
  font-size: 18px;
}

.connected-cards{
  padding:10px;
}
.card-div{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  overflow-x: scroll;

}

.card-one, .card-two, .card-three{
  margin: 0px 10px;
}

